<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
	<meta charset="ISO-8859-1">
	<title>Used Bike home</title>
</head>

<body>
	<header>
		<a class="homePage" href="/">Used Bike</a>
		<span> <a class="addBike" href="/secure/insert">Add Bikes</a>
			<a class="updateBike" href="/secure/update">update Bikes</a>
			<a class="deleteBike" href="/secure/delete">delete Bikes</a>
			<a class="logout" href="/login">Login</a>
		</span>

	</header>
	<main>
		<div class="main-info">Add used bike to sell</div>
	</main>
</body>

</html>